<div class="container-fluid py-4" style="overflow-x: hidden">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Products</p>
                <h5 class="font-weight-bolder">
                  <%= productCount %>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                <i class="ni ni-box-2 text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Users</p>
                <h5 class="font-weight-bolder">
                  <%= user %>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Sales</p>
                <h5 class="font-weight-bolder">
                  <%= totalSales %>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Revenue</p>
                <h5 class="font-weight-bolder">
                  Rs.<%=total %>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-warning shadow-primary text-center rounded-circle">
                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-12 mb-lg-0 mb-4">
      <div class="card z-index-2 h-100">
        <div class="card-header pb-0 pt-3 bg-transparent">
        </div>
        <div class="card-body p-3">
          <div class="chart">
            <div id="tester" style="width:100%;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h3 class="text-center text-dark font-weight-bold mb-0">Sales Report</h3>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-3">
                <table id="example" class="table align-items-center mb-0 p-1">
                  <thead class="bg-dark">
                    <tr>
                      <th class="text-center text-uppercase text-white text-sm font-weight-bolder opacity-7">Sl No</th>
                      <th class="text-center text-uppercase text-white text-sm font-weight-bolder opacity-7 ">Product
                        Name</th>
                      <th class="text-center text-uppercase text-white text-sm font-weight-bolder opacity-7">Stock</th>
                      <th class="text-center text-uppercase text-white text-sm font-weight-bolder opacity-7">Price</th>
                      <th class="text-center text-uppercase text-white text-sm font-weight-bolder opacity-7">Sales</th>
                      <th class="text-center text-uppercase text-white text-sm font-weight-bolder opacity-7">Sales
                        Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% productList.forEach(function(productList,index) { %>
                      <tr>
                        <td>
                          <h6 class="mb-0 text-center text-sm text-dark">
                            <%= index+1 %>
                          </h6>
              </div>
              </td>
              <td>
                <p class="text-sm text-center text-dark font-weight-bold mb-0">
                  <%= productList.name %>
                </p>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="text-dark text-center text-sm font-weight-bold">
                  <%= productList.stock %>
                </span>
              </td>
              <td class="align-middle text-center">
                <span class="text-dark text-center text-sm font-weight-bold">
                  <%= productList.price %>
                </span>
              </td>
              <td class="align-middle text-center">
                <span class="text-dark text-center text-sm font-weight-bold">
                  <%= productList.sales %>
                </span>
              </td>
              <td class="align-middle text-center">
                <span class="text-dark text-center text-sm font-weight-bold">
                  <%= productList.sales * productList.price %>
                </span>
              </td>
              </tr>
              <% }) %>
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-center text-uppercase text-white text-sm font-weight-bolder opacity-7">Total</th>
                    <th class="text-center text-uppercase text-white text-sm font-weight-bolder opacity-7"> Rs.<%=total
                        %>
                    </th>
                  </tr>
                </tfoot>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-5">
  <div class="carousel-item h-100"
    style="background-image: url('./assets/img/carousel-3.jpg'); background-size: cover;">
    <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
      <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
        <i class="ni ni-trophy text-dark opacity-10"></i>
      </div>
      <h5 class="text-white mb-1">Share with us your design tips!</h5>
      <p>Don’t be afraid to be wrong because you can’t learn anything from a compliment.</p>
    </div>
  </div>
</div>
<button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions"
  data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions"
  data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
</div>
</div>
</div>
</div>
</main>
<div class="fixed-plugin">
  <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
    <i class="fa fa-cog py-2"> </i>
  </a>
  <div class="card shadow-lg">
    <div class="card-header pb-0 pt-3 ">
      <div class="float-start">
        <h5 class="mt-3 mb-0">Argon Configurator</h5>
        <p>See our dashboard options.</p>
      </div>
      <div class="float-end mt-4">
        <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <!-- End Toggle Button -->
    </div>
    <hr class="horizontal dark my-1">
    <div class="card-body pt-sm-3 pt-0 overflow-auto">
      <!-- Sidebar Backgrounds -->
      <div>
        <h6 class="mb-0">Sidebar Colors</h6>
      </div>
      <a href="javascript:void(0)" class="switch-trigger background-color">
        <div class="badge-colors my-2 text-start">
          <span class="badge filter bg-gradient-primary active" data-color="primary"
            onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
          <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
        </div>
      </a>
      <!-- Sidenav Type -->
      <div class="mt-3">
        <h6 class="mb-0">Sidenav Type</h6>
        <p class="text-sm">Choose between 2 different sidenav types.</p>
      </div>
      <div class="d-flex">
        <button class="btn bg-gradient-primary w-100 px-3 mb-2 active me-2" data-class="bg-white"
          onclick="sidebarType(this)">White</button>
        <button class="btn bg-gradient-primary w-100 px-3 mb-2" data-class="bg-default"
          onclick="sidebarType(this)">Dark</button>
      </div>
      <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
      <!-- Navbar Fixed -->
      <div class="d-flex my-3">
        <h6 class="mb-0">Navbar Fixed</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
        </div>
      </div>
      <hr class="horizontal dark my-sm-4">
      <div class="mt-2 mb-5 d-flex">
        <h6 class="mb-0">Light / Dark</h6>
        <div class="form-check form-switch ps-0 ms-auto my-auto">
          <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
        </div>
      </div>
      <a class="btn bg-gradient-dark w-100" href="#">Free
        Download</a>
      <a class="btn btn-outline-dark w-100" href="#">View documentation</a>
      <div class="w-100 text-center">
        <a class="github-button" href="#" data-icon="octicon-star" data-size="large" data-show-count="true"
          aria-label="Star creativetimofficial/argon-dashboard on GitHub">Star</a>
        <h6 class="mt-3">Thank you for sharing!</h6>
        <a href="#" class="btn btn-dark mb-0 me-2" target="_blank">
          <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
        </a>
        <a href="#" class="btn btn-dark mb-0 me-2" target="_blank">
          <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
        </a>
      </div>
    </div>
  </div>
</div>

<!-- chart script new -->
<script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
<script>
  var getTest = [<%= sales %>];
  var saletime = ['<%=timeOfSale%>']
  var xArray = saletime[0].split(',')
  var barData = [{
    x: xArray,
    y: getTest,
    mode: "lines",
    type: "bar"
  }];

  var barLayout = {
    xaxis: {
      labels: [xArray],
      title: 'Date',

    },
    yaxis: {
      labels: [getTest],
      title: "Sales"
    },
    title: "Sales Report"
  };
  TESTER = document.getElementById('tester');
  Plotly.newPlot(TESTER, barData, barLayout)

</script>
<!-- chart script end -->

<!-- data table -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<script>
  $(document).ready(function () {
    $('#example').DataTable({
      dom: 'Bfrtip',
      buttons: [
        // 'copy', 'csv', 'excel', 'pdf', 'print'
        { extend: 'copyHtml5', footer: true },
        { extend: 'excelHtml5', footer: true },
        { extend: 'csvHtml5', footer: true },
        { extend: 'pdfHtml5', footer: true }
      ]
    });
  });
</script>