<body>
  <div class="container">
    <div style="margin: 72px;">
      <h1 style="color: white; padding-left: 10rem;">Order Management</h1>
    </div>
    <div class="row">
      <table id="example" class="display nowrap" style="width:100%">
        <thead style="background-color: black;">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Order Status</th>
            <th>Time</th>
            <th>Payment Mode</th>
            <th>Total</th>
            <th>Cancel</th>
          </tr>
        </thead>
        <tbody>
          <% order.forEach(function(order) { %>
          <tr>
            <td><%=order.name %></td>
            <td><%=order.price %></td>
            <td><%=order.count %></td>
            <td><%=order.orderStatus %></td>
            <td><%=order.createdAt.toLocaleString() %></td>
            <td><%=order.paymentOption %></td>
            <td><%= (order.price * order.count) %></td>
            <td class="invert">
              <div class="rem">
                  <% if( order.orderStatus=='Order cancelled' ) { %>
                      <p class="" style="color: red;">Cancelled</p>
                      <% } else { %>
                          <a href="/adminCancelOrder/<%= order.unique %>" class="btn btn-danger"
                              onclick="return confirm('Do you want to Cancel ?')">Cancel</a>
                          <% } %>
              </div>
          </td>
          </tr>
          <% }) %>
          
          
        </tbody>
        <!-- <tfoot>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
        </tfoot> -->
      </table>
    </div>
  </div>
  <script src="../js/data-table.js"></script>

</body>