<body>
  <div class="container">
    <div style="margin: 72px;">
      <h1 style="color: white; padding-left: 10rem;">Order Management</h1>
    </div>
    <div class="row">
      <table id="example" class="display nowrap" style="width:100%">
        <thead style="background-color: black;">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Order Status</th>
            <th>Time</th>
            <th>Payment Mode</th>
            <th>Total</th>
            <th>Change Status</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          <% order.forEach(function(order) { %>
          <tr>
            <td><%=order.name %></td>
            <td><%=order.price %></td>
            <td><%=order.count %></td>
            <td><%=order.orderStatus %></td>
            <td><%=order.createdAt.toLocaleString() %></td>
            <td><%=order.paymentOption %></td>
            <td><%= (order.price * order.count) %></td>
            <td>
              <form action="/adminUpdateOrder/<%= order.unique %>" method="post">
                  <select class="form-select" name="status" aria-label="Default select example" required>
                     <option selected> </option>
                      <option value="Dispatched">Dispatched</option>
                      <option value="Delivered">Delivered</option>
                      <option value="Cancelled">Cancel</option>     
                  </select>
                </td>
                  <td>
                    <% if(order.orderStatus === 'Order cancelled') { %>
                  <button disabled class="btn btn-secondary">Update</button>
                  <% }else{ %>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <% } %>
                  </td>      
              </form>
          </tr>
          <% }) %>        
        </tbody>
        <tfoot>
          <tr>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</body>

<script>
  $(document).ready(function() {
  $('#example').DataTable( {
      // dom: 'Bfrtip',
      // buttons: [
      //     'copy', 'csv', 'excel', 'pdf', 'print'
      // ]
  } );
} );
</script>