<div class="container mt-5 mb-5">
	<div class="card">
		<div class="row g-0">
			<div class="col-md-6 border-end">
				<div class="d-flex flex-column justify-content-center">
					<div class="main_image"> <img src="./image/<%= product._id %>.jpeg" data-imagezoom="true"
							id="main_product_image" width="280" height="320"> </div>
					<div class="thumbnail_images">
						<ul id="thumbnail">
							<li><img onclick="changeImage(this)" src="./image/<%= product._id %>.jpeg"
									 width="60"></li>
							<li><img onclick="changeImage(this)" src="./image/<%= product._id %>1.jpeg"
									 width="60"></li>
							<li><img onclick="changeImage(this)" src="./image/<%= product._id %>2.jpeg"
									 width="60"></li>
							<li><img onclick="changeImage(this)" src="./image/<%= product._id %>3.jpeg"
									 width="60"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="p-3 right-side">
					<div class="d-flex justify-content-between align-items-center">
						<h3>
							<%=product.name %>
						</h3> <span class="heart"><i class='bx bx-heart'></i></span>
					</div>
					<div class="description mt-2">
						<p>
							<%=product.description %>
						</p>
					</div>
					<h3 style="color: orangered;">Rs.<%=product.price %>
					</h3>
					<s><h3>Rs.<%=product.originalPrice %></s>
					</h3>
					<h4 style="color: orangered;"><%=product.offer %> %Off
					</h4>
					<div class="ratings d-flex flex-row align-items-center">
						<div class="d-flex flex-row"> <i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i
								class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i> </div>
						<!-- <span>441 reviews</span> -->
					</div>
					<div class="mt-5"> <span class="fw-bold">Color</span>
						<div class="colors">
							<ul id="marker">
								<li id="marker-1"></li>
								<li id="marker-2"></li>
								<li id="marker-3"></li>
								<li id="marker-4"></li>
								<li id="marker-5"></li>
							</ul>
						</div>
					</div>
					<div class="buttons d-flex flex-row mt-5 gap-3">
						 <button type="button" value="<%= product._id %>" class="wishlist_btn btn btn-outline-danger">Add to Wishlist 🤍 </button>
							<button type="button" value="<%= product._id %>" class="confirm_del_btn btn btn-dark">Add to Cart</button>
					</div>
					<!-- <div class="search-option"> <i class='bx bx-search-alt-2 first-search'></i>
						<div class="inputs"> <input type="text" name=""> </div> <i class='bx bx-share-alt share'></i> -->
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<script src="js/jquery-2.2.3.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.8/dist/sweetalert2.all.min.js"></script>
<!-- SweetAlert2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">

<script>

    $(document).ready(function () {
        $('.confirm_del_btn').click(function (e) {

            var id = $(this).val();

            $.ajax({
                url: "/incrementCartCount/" + id,
                success: function (response) {
                    Swal.fire({
                        position: 'middle',
                        icon: 'success',
                        title: 'Item added to cart 👍',
                        showConfirmButton: false,
                        timer: 1500
                    }).then((confirmed) => {
                        // window.location.reload();
                    })
                }
            }) 
        })
    })

    $(document).ready(function () {
        $('.wishlist_btn').click(function (e) {

            var id = $(this).val();

            $.ajax({
                url: "/addToWishlist/" + id,
                success: function (response) {
                    Swal.fire({
                        position: 'middle',
                        icon: 'success',
                        title: 'Added to wishlist ❤️',
                        showConfirmButton: false,
                        timer: 1500
                    }).then((confirmed) => {
                        // window.location.reload();
                    })
                }
            }) 
        })
    })
</script>