<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">
            <ul class="short">
                <li>
                    <a href="/">Home</a>
                    <i>|</i>
                </li>
                <li>Shop</li>
            </ul>
        </div>
    </div>
</div>
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container-fluid">
        <div class="inner-sec-shop px-lg-4 px-3">
            <h3 class="tittle-w3layouts my-lg-4 mt-3">New Arrivals for you </h3>
            <div class="row">
                <div class="side-bar col-lg-3 shop_left">
                    <br>
                    <img src="images/longb4.jpg" alt="">
                </div>
                <div class="left-ads-display col-lg-9">
                    <div class="wrapper_top_shop">
                        <div class="row">
                            <div class="col-md-6 shop_left">
                                <img src="images/b9.jpg" alt="">
                                <h6>40% off</h6>
                            </div>
                            <div class="col-md-6 shop_right">
                                <img src="images/b19.jpg" alt="">
                                <h6>50% off</h6>
                            </div>
                        </div>
                        <div class="row">
                            <% product.forEach(function(product) { %>
                                <% if (product.category==='Women' ) { %>

                                    <div class="col-md-3 product-men women_two shop-gd">
                                        <div class="product-googles-info googles">
                                            <div class="men-pro-item">
                                                <div class="men-thumb-item">
                                                    <img src="./image/<%= product._id %>.jpeg" class="img-shop" alt="">
                                                    <div class="men-cart-pro">
                                                        <div class="inner-men-cart-pro">
                                                            <a href="/singleProductView?id=<%= product._id %>"
                                                                class="link-product-add-cart">Quick View</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-info-product">
                                                    <div class="info-product-price d-flex">
                                                        <div class="grid_meta">
                                                            <div class="product_price text-left">
                                                                <h4>
                                                                    <a href="/singleProductView?id=<%= product._id %>">
                                                                        <%=product.name %>
                                                                    </a>
                                                                </h4>
                                                                <div class="grid-price mt-2">
                                                                    <span class="money ">
                                                                        Rs.<%=product.price %>
                                                                    </span>
                                                                </div>
                                                                <div class="grid-price mt-2">
                                                                    <span class="">
                                                                        <s>Rs.<%=product.originalPrice %></s>
                                                                    </span>
                                                                </div>
                                                                <div class="grid-price mt-2">
                                                                    <span class="">
                                                                        <a href="/addToWishlist/<%= product._id %>"
                                                                            class="btn btn-danger"
                                                                            style="color:rgb(253, 250, 250)">Wishlist
                                                                            🤍</a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product_price2 text-right"
                                                            style="text-align:right;">
                                                            <div class="mt-2">
                                                                <span class="money">
                                                                    <a href="/incrementCartCount/<%= product._id %>"><i
                                                                            class="fa fa-cart-plus"
                                                                            style="font-size:25px;color:rgb(46, 46, 133)"></i></a>
                                                                </span>
                                                            </div>
                                                            <div class="grid-price mt-2">
                                                                <span class="money">
                                                                    <%=product.offer %>% Offer
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery-2.2.3.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.8/dist/sweetalert2.all.min.js"></script>
<!-- SweetAlert2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">

<script>

    $(document).ready(function () {
        $('.confirm_del_btn').click(function (e) {

            var id = $(this).val();

            $.ajax({
                url: "/incrementCartCount/" + id,
                success: function (response) {
                    Swal.fire({
                        position: 'middle',
                        icon: 'success',
                        title: 'Item added to cart 👍',
                        showConfirmButton: false,
                        timer: 1500
                    })
                        .then((confirmed) => {
                            // window.location.reload();
                        })
                }
            })
        })
    })

    $(document).ready(function () {
        $('.wishlist_btn').click(function (e) {

            var id = $(this).val();

            $.ajax({
                url: "/addToWishlist/" + id,
                success: function (response) {
                    Swal.fire({
                        position: 'middle',
                        icon: 'success',
                        title: 'Added to wishlist ❤️',
                        showConfirmButton: false,
                        timer: 1500
                    }).then((confirmed) => {
                        // window.location.reload();
                    })
                }
            })
        })
    })
</script>